
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
An error occurred - please <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">retun to menu</a>

