
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>
<div>
    @ViewBag.Result
</div>
<br />
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Return to menu</a>
</div>

