
@{
    ViewData["Title"] = "ErrorDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error - access denied</h2>
You have tried to access a restrictet section. Please go to the menu and login
<br />
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Retun to menu</a>
</div>


