
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>@Html.Raw(ViewBag.Result)</h3>
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Return to menu</a>
</div>


