@model FuelApp.Models.VehicleModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- MAKE ID, GID, and UserGID hidden-->
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GID" />
            <input type="hidden" asp-for="UserGID" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Licensplate" class="control-label"></label>
                <input asp-for="Licensplate" class="form-control" />
                <span asp-validation-for="Licensplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="FuelType" class="control-label"></label>
                    <br />
                    <!--<input asp-for="FuelType" class="form-control" /> -->
                    <select asp-for="FuelType" asp-items="Html.GetEnumSelectList<FuelApp.Models.Fuel>()">
                    </select>
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FuelTankSize" class="control-label"></label>
                <input asp-for="FuelTankSize" class="form-control" />
                <span asp-validation-for="FuelTankSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <h3>@Html.Raw(ViewBag.Result)</h3>
</div>

<div>
    <a asp-area="" asp-controller="Vehicle" asp-action="HandleVehicle" class="navbar-brand">Edit vehicle</a><br />
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Return to menu</a>
</div>

